<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="start" routerLink="/posts">Posts</ion-button>
    <ion-title>
      {{post?.title}}
    </ion-title>
    <ion-button slot="end" routerLink="/todos">Todos</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngIf="post">
    <ion-img src="{{image}}"></ion-img>
    <ion-card-header>
        <ion-card-title>{{post.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>Created on: {{post.createdAt | date}}</p>
        <p>{{post.body}}</p>
        <p>{{post.id}}</p>
        <ion-button color='success' (click)="goToEdit()">Edit</ion-button>
        <ion-button color='danger' (click)="removePost()">Delete</ion-button>
    </ion-card-content>
  </ion-card>   
</ion-content>
